.main-four
  .main-four__title
    %h2.title - spoon500の使い方 -
  .main-four__content
    .main-four__content__step
      .main-four__content__step__side
        .main-four__content__step__side__img
          %h2.img 買いたいとき
          = image_tag "183637_s.jpg", width: "400px",hight: "270px", class: "img"
          %h3.img まずは登録！ 
          %p.img まずは新規登録を行い、アカウントを作成しましょう
      .main-four__content__step__center
        %h3.center Stap 1
      .main-four__content__step__side
        .main-four__content__step__side__img
          %h2.img 売りたいとき
          = image_tag "183637_s.jpg", width: "400px",hight: "270px", class: "img" 
          %h3.img まずは登録！
          %p.img まずは新規登録を行い、アカウントを作成しましょう

    .main-four__content__step
      .main-four__content__step__side
        .main-four__content__step__side__img
          = image_tag "3318408_s.jpg", width: "400px",hight: "270px", class: "img"
          %h3.img 支払い方法
          %p.img お支払いはクレジット決済となります
      .main-four__content__step__center
        %h3.center Stap 1
      .main-four__content__step__side
        .main-four__content__step__side__img
          = image_tag "3250079_s.jpg", width: "400px",hight: "270px", class: "img" 
          %h3.img 商品登録
          %p.img 出品はアカウントの作成のみで行えます

    .main-four__content__step
      .main-four__content__step__side
        .main-four__content__step__side__img
          = image_tag "3171151_s.jpg", width: "400px",hight: "270px", class: "img"
          %h3.img 購入 
          %p.img お好きな商品を見つけて購入しましょう
      .main-four__content__step__center
        %h3.center Stap 1
      .main-four__content__step__side
        .main-four__content__step__side__img
          = image_tag "704122_s.jpg", width: "400px",hight: "270px", class: "img" 
          %h3.img 出品
          %p.img 出品したら、気に入った人が来るのを待ちましょう
    