.header
  .header__nav
    .header__nav__top
      .header__nav__top__left
        %ul
          %li.crrent
            %a.crrent(href="#")
              spoon500
              %span.down
                %icon.down
                  %polygon
            .header__nav__top__left__pull 
              -# プルダウン実装時に書き込む
      .header__nav__top__center
        %ul.group
          %li.menu
            %a.item(href="#question") 
              spoon500とは？
          %li.menu
            %a.item(href="#use")
              spoon500の使い方
          %li.menu
            %a.item(href="#make")
              スプーンの作り方
      .header__nav__top__right
        %ul.login
          %li.login
        
    .header__nav__under
      .header__nav__under__logo
        =link_to image_tag "IMG_3179.JPG" do
          %span.logo
          %span.sub
            %before
      .header__nav__under__service
        .header__nav__under__service__itemleft
          -# ドロップダウンメニュー
          %ul.itemleft
            %li.lists
              = link_to items_path, class: "list" do
                商品一覧
            %li.lists
              %a.list(href="#")
                River
            %li.lists
              %a.list(href="#")
                Solt
            %li.lists
              %a.list.last(href="#")
                Orignal
          %after
        .header__nav__under__service__itemright
          %ul.itemright
            - if user_signed_in?
              %li.lists
                = link_to mypage_index_path(current_user), class: "list" do
                  マイページ
              %li.lists
                = link_to destroy_user_session_path, method: 'delete', class: "list" do
                  ログアウト
            - else
              %li.lists
                = link_to new_user_registration_path, class: "list" do
                  新規登録
              %li.lists
                = link_to new_user_session_path, class: "list" do
                  ログイン
       