-# メインページ

-# header
= render partial: "top"

-# main
= render partial: "main.one"
= render partial: "main.two"
= render partial: "main.three"
= render partial: "main.four"

-# footer
= render partial: "under"