.show-content
  .show-content__container
    %h1.lists= @item.name
    .show-content__container__body
      .show-content__container__body__imgbox
        .show-content__container__body__imgbox__inner
          .show-content__container__body__imgbox__inner__main
            .show-content__container__body__imgbox__inner__main__style
              .show-content__container__body__imgbox__inner__main__style__type
                .show-content__container__body__imgbox__inner__main__style__type__back
                  - @item.images.find do |image|
                    = image_tag image.image.url, class: "main"
            .show-content__container__body__imgbox__inner__sub
              - @item.images.each do |image|
                .show-content__container__body__imgbox__inner__sub__card
                  %span.sub
                  .show-content__container__body__imgbox__inner__sub__card__in
                    = image_tag image.image.url, class: "sub"
      %table.list
        %tbody
          %tr
            %th 出品者
            %td
              =link_to @item.user.nickname 
          %tr
            %th ブランド
            %td=@item.brand
          %tr
            %th ルアータイプ
            %td=@item.category
          %tr
            %th 商品の状態
            %td=@item.condition
          %tr
            %th 配送元
            %td=@item.shipping_from
          %tr
            %th 発送方法
            %td=@item.shipping_method
          %tr
            %th 発送までの目安
            %td=@item.days_before_shipping
      %after
    .show-content__container__fee
      %span.fee ¥ 500円
    - if user_signed_in? && current_user.id == @item.user_id
      = link_to edit_item_path, class: "btn edit" do
        編集画面へ
    - elsif @item.buyer_id.present?
      = link_to item_path, class: "btn sall" do
        売り切れ
    - elsif user_signed_in? == false
      = link_to new_user_registration_path, class: "btn edit" do
        まずは新規登録へ
    - else
      = link_to purchase_url(@item.id), class: "btn buy" do
        購入画面へ
    .show-content__container__commnts
      %p.commnts= @item.description
    .show-content__container__likes
      .show-content__container__likes__inner
        %button.likes
          %i.likes
          %span.likes いいね！
          %span.likesum 7
  .show-content__container__message
    .show-content__container__message__box
      .show-content__container__message__box__inner
        %form.message(action="#")
          %p.message 出品者へ質問してみましょう！
          %textarea.message
          %button.message
            %span.message コメントする